<div class="widget-newsletter">
  <h5 class="newsletter-title wow fadeInUp">Odebírat</h5>
  <div class="newsletter-subtitle wow fadeInUp" data-wow-delay=".2s">
    Stay up to date! Get all the latest & gretest posts delivered straight to
    your inbox
  </div>
  <div class="newsletter-group">
    {% for badge in site.badges %} {% assign image = badge.image_name | prepend:
    'images/badges/' %}
    <a class="newsletter-badge" href="{{ badge.url }}">
      <img
        alt="Poslouchat na {{ badge.name}}"
        src="{{ image | append: '.png' | relative_url }}"
        srcset="{{ image | append: '.png' | relative_url }} 132w, {{ image | append: '@2x.png' | relative_url }} 264w, {{ image | append: '@3x.png' | relative_url }} 396w"
      />
    </a>
    {% endfor %}
  </div>
</div>
