<div class="widget-newsletter">
  <h5 class="newsletter-title wow fadeInUp">Odebírat</h5>
  <div class="newsletter-subtitle wow fadeInUp" data-wow-delay=".2s">
    Stay up to date! Get all the latest & gretest posts delivered straight to
    your inbox
  </div>
  <div class="newsletter-group">
    {% for badge in site.badges %}
    <a class="newsletter-badge" href="{{ badge.url }}"
      ><img
        src="{{ badge.image_name | prepend: 'images/' | append: '@3x.png' | relative_url }}"
    /></a>
    {% endfor %}
  </div>
</div>
