/* Header */
.header {
  width: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-gray;

  .header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(17, 17, 17, 0.7);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 50px;

    .header__overlay {
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* Logo */
.logo__link {
  font-family: "Merriweather", serif;
  font-size: 31px;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
  color: $dark;
  &:hover {
    color: #000;
  }
}

.logo__image {
  max-height: 50px;
}

/* Nav */
.button {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  font-size: $base-font-size;
  transition: all 0.3s ease;

  &:hover {
    color: #fff;

    &:after {
      height: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background-color: $dark;
    transition: all 0.3s ease;
  }
}
